header,nav,main,footer,figure,figcaption { display: block;}


   
body {
	
	color: #000305;
	font-size: 100%;
	font-family: 'Trebuchet MS',Arial, sans-serif;
	margin: 0;
	padding: 0;
	
	}
	
#wrapper{
	clear: both; 
	margin: 0 auto; 
	width: 70%;
}
	
/* 
   Headings
  */
h1{font-size:1.8em}
h2 {font-size: 1.6em}	
h3 {font-size: 1.4em}	
	


/* 
  anchor style
    */


a img {
	border: 0px; 
	text-decoration: none;
}

a:link, a:visited {
	color: #CF5C3F;
	padding: 0 1px;
	text-decoration: none;
}

a:hover{
	background-color: #CF5C3F;
	color: #fff;
	text-decoration: none;
}

/* 
 Main Navigation 
   */
   
.mainheader nav {
	background: #B11C2F;
	font-size: 1.143em;
	height: 40px;
	text-align: center;
	border-radius: 5px;
	}
	
.mainheader nav ul {
	list-style: none; 
	margin: 0 auto;
	padding:0;
}

.mainheader nav ul li {
	float: left; 
	display: inline; 
}
	
.mainheader nav a:link, .mainheader nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
	background: green;
	color: #fff;
	
}
	
.mainheader nav li a {
	border-radius: 5px;
		
}

.mainheader img {
	width: 100%;
	height: 200px;
	margin: 3% 0;
	border-radius:5px;
}

/* 
 Content Area 
 */

main{
	overflow: hidden;
	line-height: 
	border-radius: 5px;
}




.content {
	width: 68%;
	float: left;
	border-radius: 5px;
	margin-top : 22px;

	
}

#form
{
	float:left;
	width:auto;
	height:auto;
	
	
}






/*
   Footer
*/

.mainfooter {
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0;
	background-color: #666;
	border-radius: 5px;
	color: #FFF;	
}

.logo{
		width: 50%;
		float: left;
		height: 150px;
		}
		
.heading {
width: 50%;
		float: right;
		
		padding-top: 40px;
		}
		
		.mainheader h1{
			color : #B11C2F;
			font-size : 300%;
			}
			
			
			#logosaying
		{
		float:left;
		color:red;
		font-style:italic;
		margin-top:-40px;
		
		}